<div class="aboutme">
<h3>About Me:</h3>
<p>Full-time student at Centennial College currently enrolled in Game-Programming. Out-going, hard-working, critical-thinking and aspiring developer with a life-long passion for programming and software, web and game developement</p>
</div>