
<div class="centercontainer">

    <div class="container">
        <div class="row align-items-center" id="greenback">
          <div class="col">
            <img src="/Assets/images/IMG_0442.jpg" alt="" width="300" height="400">
          </div>
          <div class="col" >
            Web Dev - Software Dev - Game Dev
          </div>
        </div>
      </div>
</div>

<div class=" w-50 p-3 container-fluid py-5">
    <h3>About Me:</h3>
    <p>Full-time student at Centennial College currently enrolled in Game-Programming. Out-going, hard-working, critical-thinking and aspiring developer with a life-long passion for programming and software, web and game developement</p>
    </div>
    
