<div class="servicelist">

<h4 id="leftalign">Web Development</h4>
<p>Programming for your newly digitized online porfolio or even your brand new store. I can help with any website related developement</p>

<div class="rightaligned" style="text-align:right;">
    <h4>Game-Programming</h4>
    <p>Programming for your game from PC to PS5</p>
</div>

<h4>Software Development</h4>
<p>A programmer who fulfills your needs for your envisioned phone app or web app who can make your ideas come to life</p>
</div>