<h3>Projects</h3>
<ul>
    <li>Chameloid</li>
    <p>Full 2D Colour-Changing Game created from scratch</p>
    <li>FakeAzon</li>
    <p>Mock Amazon-like CRUD website created using ReactJS, nodeJS, mySQL</p>
    <li>Money Management Application (Theoretical)</li>
    <p>Mock SRS and Application which manages your bills, money and spending which uses AI to show where you can save money created with a group of 4 using Agile Methodology </p>
</ul>