
<div class="position-relative">
    <h1 class="text-center" style="text-decoration:underline;"><%= title %></h1>
</div>

<div class="container w-75 p-3 container-fluid py-5 border">
    <div class="row">
      <div class="col">
        <p class="fw-bold">Chameloid</p>
        <p>Full 2D Colour-Changing Game created from scratch using Unity2D</p>
      </div>
      <div class="col">
        <p class="fw-bold">FakeAzon</p>
        <p>Mock Amazon-like CRUD website created using ReactJS, nodeJS, mySQL</p>
      </div>
      <div class="col">
        <p class="fw-bold">Money Management Application (Theoretical)</p>
        <p>Mock SRS and Application which manages your bills, money and spending which uses AI to show where you can save money created with a group of 4 using Agile Methodology </p>
      </div>
    </div>

    <div class="row">
        <div class="col">
            <p class="fw-bold">Position</p>
            <p>Programmer, Artist, Sound Engineer</p>
            <p class="fw-bold">Outcome</p>
            <p>Currently under work for this semester</p>
        </div>

        <div class="col">
            <p class="fw-bold">Position</p>
            <p>Lead Developer</p>
            <p class="fw-bold">Outcome</p>
            <p>Currently under work for this semester, test site is up and working and only requires content</p>
        </div>

        <div class="col">
            <p class="fw-bold">Position</p>
            <p>Stakeholder</p>
            <p class="fw-bold">Outcome</p>
            <p>Currently under work for this semester</p>
        </div>

    </div>
  </div>
